# Split and Data Balance

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)

In [2]:
df = pd.read_csv('df_after_feature_engineering.csv', index_col=0)

In [2]:
#%store -r df1

In [3]:
#df = df1

In [4]:
df.head()

,FLAG_OWN_CAR,REGION_RATING_CLIENT_W_CITY,REG_CITY_NOT_LIVE_CITY,EXT_SOURCE_2,FLAG_DOCUMENT_3,ANNUITY_INCOME_RATIO,NAME_CONTRACT_TYPE_Revolving loans,CODE_GENDER_F,NAME_INCOME_TYPE_Unemployed,NAME_EDUCATION_TYPE_Academic degree,...,avg_AMT_DOWN_PAYMENT_iqr_Q2,ENTRANCES_MEDI_iqr_missing,EXT_SOURCE_1_iqr_Q1,EXT_SOURCE_1_iqr_Q3,EXT_SOURCE_1_iqr_missing,max_num_days_of_payment_late_iqr_Q2,COMMONAREA_AVG_iqr_missing,max_DAYS_ENDDATE_FACT_iqr_missing,OWN_CAR_AGE_iqr_Q3,TARGET
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,0.0,0.5,0.0,0.307542,1.0,0.544755,0,0,0,0,...,1,0,1,0,0,0,0,0,0,1.0
100003,0.0,0.0,0.0,0.727773,1.0,0.564986,0,1,0,0,...,1,0,1,0,0,1,0,0,0,0.0
100004,1.0,0.5,0.0,0.650190,0.0,0.476946,1,0,0,0,...,1,1,0,0,1,0,1,0,1,0.0
100006,0.0,0.5,0.0,0.760751,1.0,0.630256,0,1,0,0,...,0,1,0,0,1,1,1,1,0,0.0
100007,0.0,0.5,0.0,0.377472,0.0,0.594731,0,0,0,0,...,1,1,0,0,1,0,1,0,0,0.0

In [5]:
df.shape

(306531, 39)

In [6]:
print(df.dtypes)

FLAG_OWN_CAR                                    float64
REGION_RATING_CLIENT_W_CITY                     float64
REG_CITY_NOT_LIVE_CITY                          float64
EXT_SOURCE_2                                    float64
FLAG_DOCUMENT_3                                 float64
ANNUITY_INCOME_RATIO                            float64
NAME_CONTRACT_TYPE_Revolving loans                int64
CODE_GENDER_F                                     int64
NAME_INCOME_TYPE_Unemployed                       int64
NAME_EDUCATION_TYPE_Academic degree               int64
NAME_EDUCATION_TYPE_Lower secondary               int64
NAME_FAMILY_STATUS_Civil marriage                 int64
count_NAME_PORTFOLIO_POS_0.0                      int64
CNT_CHILDREN_CAT_Other                            int64
count_CREDIT_CURRENCY_currency2_CAT_Other         int64
count_CREDIT_TYPE_Car_loan_CAT_Other              int64
avg_SK_DPD_DEF_CAT_Other                          int64
avg_AMT_CREDIT_SUM_DEBT_iqr_Q1                    int64
count_CREDIT_ACTIVE_Active_iqr_Q1                 int64
count_CREDIT_ACTIVE_Active_iqr_Q2                 int64
max_DAYS_CREDIT_iqr_Q2                            int64
AMT_CREDIT_iqr_Q1                                 int64
count_NAME_CASH_LOAN_PURPOSE_XAP_iqr_missing      int64
avg_AMT_CREDIT_iqr_missing                        int64
EXT_SOURCE_3_iqr_Q2                               int64
YEARS_BUILD_MODE_iqr_missing                      int64
DAYS_EMPLOYED_iqr_Q2                              int64
max_DAYS_TERMINATION_iqr_Q2                       int64
avg_DAYS_DECISION_iqr_Q2                          int64
avg_AMT_DOWN_PAYMENT_iqr_Q2                       int64
ENTRANCES_MEDI_iqr_missing                        int64
EXT_SOURCE_1_iqr_Q1                               int64
EXT_SOURCE_1_iqr_Q3                               int64
EXT_SOURCE_1_iqr_missing                          int64
max_num_days_of_payment_late_iqr_Q2               int64
COMMONAREA_AVG_iqr_missing                        int64
max_DAYS_ENDDATE_FACT_iqr_missing                 int64
OWN_CAR_AGE_iqr_Q3                                int64
TARGET                                          float64
dtype: object

In [7]:
for column, data_type in df.dtypes.iteritems():
    if data_type == 'category':
        df[column] = df[column].astype(int)

In [8]:
print(df.dtypes)

FLAG_OWN_CAR                                    float64
REGION_RATING_CLIENT_W_CITY                     float64
REG_CITY_NOT_LIVE_CITY                          float64
EXT_SOURCE_2                                    float64
FLAG_DOCUMENT_3                                 float64
ANNUITY_INCOME_RATIO                            float64
NAME_CONTRACT_TYPE_Revolving loans                int64
CODE_GENDER_F                                     int64
NAME_INCOME_TYPE_Unemployed                       int64
NAME_EDUCATION_TYPE_Academic degree               int64
NAME_EDUCATION_TYPE_Lower secondary               int64
NAME_FAMILY_STATUS_Civil marriage                 int64
count_NAME_PORTFOLIO_POS_0.0                      int64
CNT_CHILDREN_CAT_Other                            int64
count_CREDIT_CURRENCY_currency2_CAT_Other         int64
count_CREDIT_TYPE_Car_loan_CAT_Other              int64
avg_SK_DPD_DEF_CAT_Other                          int64
avg_AMT_CREDIT_SUM_DEBT_iqr_Q1                    int64
count_CREDIT_ACTIVE_Active_iqr_Q1                 int64
count_CREDIT_ACTIVE_Active_iqr_Q2                 int64
max_DAYS_CREDIT_iqr_Q2                            int64
AMT_CREDIT_iqr_Q1                                 int64
count_NAME_CASH_LOAN_PURPOSE_XAP_iqr_missing      int64
avg_AMT_CREDIT_iqr_missing                        int64
EXT_SOURCE_3_iqr_Q2                               int64
YEARS_BUILD_MODE_iqr_missing                      int64
DAYS_EMPLOYED_iqr_Q2                              int64
max_DAYS_TERMINATION_iqr_Q2                       int64
avg_DAYS_DECISION_iqr_Q2                          int64
avg_AMT_DOWN_PAYMENT_iqr_Q2                       int64
ENTRANCES_MEDI_iqr_missing                        int64
EXT_SOURCE_1_iqr_Q1                               int64
EXT_SOURCE_1_iqr_Q3                               int64
EXT_SOURCE_1_iqr_missing                          int64
max_num_days_of_payment_late_iqr_Q2               int64
COMMONAREA_AVG_iqr_missing                        int64
max_DAYS_ENDDATE_FACT_iqr_missing                 int64
OWN_CAR_AGE_iqr_Q3                                int64
TARGET                                          float64
dtype: object

In [9]:
df.shape

(306531, 39)

The primary evaluation metric for the model will be recall.
Recall is vital in this context as it focuses on minimizing false negatives, ensuring that instances of payment difficulties are not overlooked. A missed instance of payment difficulty (false negative) could have more severe consequences than a false positive, making recall the ideal metric to prioritize in this loan prediction scenario.

# Split Data

split the dataset into three parts:

Test Set (20%): This set remains untouched until the very end and helps handle the model's real-world performance.

Validation Set (16%): A subset of the data used to fine-tune the model's parameters and prevent overfitting during development.

Training Set (64%): The largest portion where the model learns patterns and features to make accurate predictions.

In [9]:
## remove unnecessary vars
X = df.loc[:,df.columns!='TARGET']

X.head()

,FLAG_OWN_CAR,REGION_RATING_CLIENT_W_CITY,REG_CITY_NOT_LIVE_CITY,EXT_SOURCE_2,FLAG_DOCUMENT_3,ANNUITY_INCOME_RATIO,NAME_CONTRACT_TYPE_Revolving loans,CODE_GENDER_F,NAME_INCOME_TYPE_Unemployed,NAME_EDUCATION_TYPE_Academic degree,...,avg_DAYS_DECISION_iqr_Q2,avg_AMT_DOWN_PAYMENT_iqr_Q2,ENTRANCES_MEDI_iqr_missing,EXT_SOURCE_1_iqr_Q1,EXT_SOURCE_1_iqr_Q3,EXT_SOURCE_1_iqr_missing,max_num_days_of_payment_late_iqr_Q2,COMMONAREA_AVG_iqr_missing,max_DAYS_ENDDATE_FACT_iqr_missing,OWN_CAR_AGE_iqr_Q3
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,0.0,0.5,0.0,0.307542,1.0,0.544755,0,0,0,0,...,1,1,0,1,0,0,0,0,0,0
100003,0.0,0.0,0.0,0.727773,1.0,0.564986,0,1,0,0,...,0,1,0,1,0,0,1,0,0,0
100004,1.0,0.5,0.0,0.650190,0.0,0.476946,1,0,0,0,...,1,1,1,0,0,1,0,1,0,1
100006,0.0,0.5,0.0,0.760751,1.0,0.630256,0,1,0,0,...,0,0,1,0,0,1,1,1,1,0
100007,0.0,0.5,0.0,0.377472,0.0,0.594731,0,0,0,0,...,0,1,1,0,0,1,0,1,0,0

In [10]:
y = df.loc[:,df.columns=='TARGET']
y.head()

            TARGET
SK_ID_CURR
100002         1.0
100003         0.0
100004         0.0
100006         0.0
100007         0.0

In [11]:
from sklearn.model_selection import train_test_split

#split to train and test -we won't use the test until the end
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


#split to train and val 
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [12]:
X_test.shape

(61307, 38)

In [13]:
X_train.shape

(196179, 38)

In [14]:
X_val.shape

(49045, 38)

In [15]:
y_test.shape

(61307, 1)

In [16]:
y_train.shape

(196179, 1)

In [17]:
y_val.shape

(49045, 1)

In [18]:
y_test.value_counts()

TARGET
0.0       56373
1.0        4934
dtype: int64

In [19]:
y_train.value_counts()

TARGET
0.0       180321
1.0        15858
dtype: int64

In [20]:
y_val.value_counts()

TARGET
0.0       45110
1.0        3935
dtype: int64

# Imbalance Data

we're addressing class imbalance in a classification dataset using the imblearn library. 

The goal is to balance the distribution of data to improve model performance. 

Each function takes input data (X) and labels (y) and returns balanced samples.
These techniques aim to equip the model with more equitable data for accurate classification, mitigating class imbalance issues

In [24]:
# !pip install imbalanced-learn

In [21]:
from imblearn.under_sampling import RandomUnderSampler
from imblearn.over_sampling import RandomOverSampler
from imblearn.combine import SMOTEENN # Combination of SMOTE and Edited Nearest Neighbors
from imblearn.over_sampling import SMOTE

def perform_under_sampling(X, y, random_state=None):
    under_sampler = RandomUnderSampler( random_state=random_state)
    X_resampled, y_resampled = under_sampler.fit_resample(X, y)
    return X_resampled, y_resampled

def perform_over_sampling(X, y, random_state=None):
    over_sampler = RandomOverSampler( random_state=random_state)
    X_resampled, y_resampled = over_sampler.fit_resample(X, y)
    return X_resampled, y_resampled

def perform_overunder_sampling(X, y, random_state=None):
    combined_sampler = SMOTEENN( random_state=random_state)
    X_resampled, y_resampled = combined_sampler.fit_resample(X, y)
    return X_resampled, y_resampled

def perform_SMOTE_sampling(X, y, random_state=None):
    combined_sampler = SMOTE(random_state=random_state)
    X_resampled, y_resampled = combined_sampler.fit_resample(X, y)
    return X_resampled, y_resampled

In [22]:
X = X_train
y = y_train

# Under-sampling
X_under, y_under = perform_under_sampling(X, y, random_state=42)

# Over-sampling
X_over, y_over = perform_over_sampling(X, y,  random_state=42)

# Combined SMOTE-sampling
X_overunder, y_overunder = perform_overunder_sampling(X, y, random_state=42)

# Combined SMOTE-sampling
X_SMOTE, y_SMOTE = perform_SMOTE_sampling(X, y, random_state=42)

In [24]:
X_under.shape

(31716, 38)

In [23]:
X_over.shape

(360642, 38)

In [26]:
X_overunder.shape

(285604, 38)

In [27]:
X_SMOTE.shape

(360642, 38)

we choose random forest and RECALL and see which dataset is the best

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import recall_score


# Create a Random Forest classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the classifier on the training data
rf_classifier.fit(X_train, y_train)

# Make predictions on the validation data
y_val_pred = rf_classifier.predict(X_val)
y_train_pred = rf_classifier.predict(X_train)

# Calculate overall recall
overall_val_recall = recall_score(y_val, y_val_pred, average='weighted')
overall_train_recall = recall_score(y_train, y_train_pred, average='weighted')
print("overall_val_recall:", overall_val_recall)
print("overall_train_recall:", overall_train_recall)

ratio_rf = overall_val_recall/ overall_train_recall
print("ratio val/ train:", ratio_rf)

C:\Users\netta\anaconda3\lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

overall_val_recall: 0.9188908145580589
overall_train_recall: 0.9999694156866943
ratio val/ train: 0.918918919062182

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import recall_score


# Create a Random Forest classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the classifier on the training data
rf_classifier.fit(X_under, y_under)

# Make predictions on the validation data
y_val_pred = rf_classifier.predict(X_val)
y_train_pred = rf_classifier.predict(X_under)

# Calculate overall recall
overall_val_recall = recall_score(y_val, y_val_pred, average='weighted')
overall_train_recall = recall_score(y_under, y_train_pred, average='weighted')
print("overall_val_recall:", overall_val_recall)
print("overall_train_recall:", overall_train_recall)

ratio_rf = overall_val_recall/ overall_train_recall
print("ratio val/ train:", ratio_rf)

C:\Users\netta\anaconda3\lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

overall_val_recall: 0.6495667244367418
overall_train_recall: 1.0
ratio val/ train: 0.6495667244367418

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import recall_score


# Create a Random Forest classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the classifier on the training data
rf_classifier.fit(X_over, y_over)

# Make predictions on the validation data
y_val_pred = rf_classifier.predict(X_val)
y_train_pred = rf_classifier.predict(X_over)

# Calculate overall recall
overall_val_recall = recall_score(y_val, y_val_pred, average='weighted')
overall_train_recall = recall_score(y_over, y_train_pred, average='weighted')
print("overall_val_recall:", overall_val_recall)
print("overall_train_recall:", overall_train_recall)

ratio_rf = overall_val_recall/ overall_train_recall
print("ratio val/ train:", ratio_rf)

C:\Users\netta\anaconda3\lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

overall_val_recall: 0.9149556529717606
overall_train_recall: 1.0
ratio val/ train: 0.9149556529717606

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import recall_score



# Create a Random Forest classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the classifier on the training data
rf_classifier.fit(X_overunder, y_overunder)

# Make predictions on the validation data
y_val_pred = rf_classifier.predict(X_val)
y_train_pred = rf_classifier.predict(X_overunder)

# Calculate overall recall
overall_val_recall = recall_score(y_val, y_val_pred, average='weighted')
overall_train_recall = recall_score(y_overunder, y_train_pred, average='weighted')
print("overall_val_recall:", overall_val_recall)
print("overall_train_recall:", overall_train_recall)

ratio_rf = overall_val_recall/ overall_train_recall
print("ratio val/ train:", ratio_rf)

C:\Users\netta\anaconda3\lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

overall_val_recall: 0.8065450096849832
overall_train_recall: 1.0
ratio val/ train: 0.8065450096849832

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import recall_score



# Create a Random Forest classifier
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the classifier on the training data
rf_classifier.fit(X_SMOTE, y_SMOTE)


# Make predictions on the validation data
y_val_pred = rf_classifier.predict(X_val)
y_train_pred = rf_classifier.predict(X_SMOTE)

# Calculate overall recall
overall_val_recall = recall_score(y_val, y_val_pred, average='weighted')
overall_train_recall = recall_score(y_SMOTE, y_train_pred, average='weighted')
print("overall_val_recall:", overall_val_recall)
print("overall_train_recall:", overall_train_recall)

ratio_rf = overall_val_recall/ overall_train_recall
print("ratio val/ train:", ratio_rf)

C:\Users\netta\anaconda3\lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

overall_val_recall: 0.8586808033438679
overall_train_recall: 0.9999972271671076
ratio val/ train: 0.8586831843288455

Selecting the model with the highest ratio of validation recall to training recall that isn't overfitting. This approach involves comparing how well the model performs on the validation data relative to the training data and choosing the one that strikes the best balance between generalization and overfitting.

In [24]:
X_train = X_over
y_train = y_over

In [25]:
%store X_train
%store y_train

%store X_test
%store y_test

%store X_val
%store y_val

Stored 'X_train' (DataFrame)
Stored 'y_train' (DataFrame)
Stored 'X_test' (DataFrame)
Stored 'y_test' (DataFrame)
Stored 'X_val' (DataFrame)
Stored 'y_val' (DataFrame)

In [38]:
X_train.to_csv('X_train.csv', index=True)

In [ ]:
y_train.to_csv('y_train.csv', index=False)

In [43]:
X_test.to_csv('X_test.csv', index=True)

In [ ]:
y_test.to_csv('y_test.csv', index=False)

In [45]:
X_val.to_csv('X_val.csv', index=True)

In [ ]:
y_val.to_csv('y_val.csv', index=False)